.navbar {
    background-color: #FFFFFF;
    padding: 16px 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    background-color: #F4F7FA;
    color: #0056b3;
}


.linkHome {
    font-size: 1.2rem;
    color: #007bff;
}